---
layout: default
custom_css: true
---

<div class="content-container">
  <div class="publications-container">

    {% for section in site.data.publications %}
      {% comment %} Reset counter for each section {% endcomment %}
      {% assign count = 0 %}

      <h3>{{ section.section }}</h3>

      {% for subsection in section.subsections %}
        {% if subsection.subsection %}
          <h4>{{ subsection.subsection }}</h4>
        {% endif %}

        {% for ref in subsection.references %}
          {% assign count = count | plus: 1 %}
          <div class="publication-row">

            <div class="pub-tags-column">
              {% assign sorted_tags = ref.tags | sort %}
              {% for tag in sorted_tags %}
              <span class="pub-tags">{{ tag }}</span>
              {% endfor %}
            </div>

            <div class="references-column">
              <span class="ref-number">{{ count }}.</span>
              <span class="ref-text">{{ ref.text | markdownify }}</span>
            </div>

          </div>
        {% endfor %}
      {% endfor %}
    {% endfor %}
  </div>
</div>
